* {
    margin: 0;
    padding: 0;
}

.container_footer {
  display: flex;
  margin: 1em auto 0 auto;
  font-size: 1.5em;
  font-weight: 600; 
}

.container_footer_text {
  text-align: center;
  margin: auto .5em;
}

.container_footer_arrow {
  font-size: 1.5em;
}